*{

font-family: Arial, Helvetica, sans-serif;
margin: 0;
border: border-box;
color: white;
}
h2{
    color: black;
    margin: 8px 5px 5px 5px;
}
.fontcolor{

    color: black;
}
.navbar{
    width: 100%;
    height: 50px;
    background-color:#0f1111 ;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    overflow: hidden;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
 background-image: url(amazon_logo.png);
 background-size: cover;
height: 50px;
 width: 100px;
}

/* hovering property */
.border{
  border: 1.5px solid transparent; 
}
.border:hover{

    border:1.5px solid white
}


/* box 2 */
.location{
    height: 50px;
    width: 160px;
    margin-left: 15px;
    
}
.location-logo{
 display: flex;
 align-items: center;
}
.hello{
color: #cccccccc;
font-size: 12px;
margin-left: 25px;
margin-top: 10px;

}
.Select{
color: #ffffff;
font-size: 14px;
margin-left: 10px;

}

  /* box3 */
.nav-search{
    height: 40px;
    width: 620px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 4px;

}
.search-select{
  background-color: #f3f3f3;
   width: 50px;
   height: 40px;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   border: none;
   color: #0f1111;
   text-align: center;
   padding-top: 2px;

}
.search-input{

    height: 40px;
    width: 100%;
    font-size: 1rem;
    border: none;
}
#search-logo{

width: 45px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
background-color: #febd68;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
color: #0f1111;

}
/* box4 */

.flag{
height:32px ;
width:54px ;
display: flex;
align-items: center;
}
.flag-pic{
height:16px ;
width: 21px;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARMAAAC3CAMAAAAGjUrGAAAAsVBMVEX/mTMSiAf/////mjH//fv6+/cAgwAAAIgAAIUAAIMAAIAAAH4AAHvu7vfe3u7Hx+AAAHb5+f20tNb39/1LS6Ghocrk5PGSksSDg7utrdEAAHLMzOS+vtxSUqRERJzX1+oQEI1ERKMvL5Z/f7d5ebaYmManp88bG5JkZK/JyeEiIpFoaKqMjL9ycrSzs9uVlctYWKI3N5tgYKw6OpoeHo8YGJEsLJYAAJAbG5lYWKkmJpLm9FjFAAAEl0lEQVR4nO3ba3PiNhiGYaoeJB9kg0/YsbEg5rQkaUtINk3+/w/rK0OyDS/tTL9YmeG5Zgin/SDuNZYRZjQCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPiffoZzo1/g3EjAOTTh0IRDEw5NuK/QpGjKu8XT5mlxVzaF68GIL9CkuJ8HvqeUknTx/GB+H7kekuMmdRZ4Utogvu/bLFJ6QVu7HZTTJsXMtxHU9iHMClNk4cNW2UR+5vQt5LLJym4Znj8VqWi0MEI3dGtKbySqsnI4LndNJjOfXnuXt1rE9v7v9k8sdJt31MqfTZyNzFkTvfOkak3/ytf2zx8ftyamVdLbaVdDc9VEz+llB/lxE4ntVLOkS3S8K3La86q5qyiOmkx2lCQvtUgruqen9GdLl6nNUKVClzlFeXP09nHUZOZJP+lv5XaKWdDlz9N1kfePN770Zm4G56bJil7wWjT97Ve6bCnMgXJsT/cpiVhTNjezj5MmEc04QXnarea0XaxWIt2k9kqs+82EnikDmn2cHNM6aZIp1dpdx2Rr9xiSjk1uhaarWyNSKU6P62mrVOZieC6axP77BpDuqUy1EGmotad1mIoFzcZ6n/bP0ubkxw7G56IJ/f+XadxPKoWkOCoRm1yHOt+IRFEKeTyyj9OSticH43PQxNAOlmbgvD8+i/xaJMGka4tx0XYiqETtG/uE3a9UtJs1ww/QQZOOXqmddKOZrfItTIS8a4IojILmTooktG+XambfXAuqVw4/QAdNnqS3Oh6i5nPaXpJxHo8jr36pvWgcr8d02JI8HydhvfLk0/ADHL4J7Tnn7weoOntJRH7TLMsymSVluWxucpHM2/elgsncxXQ8fJO1p7aTOGmOm0rlb+IkjPZ1VVb1PgqTbzu/6p/RcRJPHtXp3pCGb0KTid1HmOnrY04fiyfbcWduTdfu2858N914m9IH4/X29d78+MfDGr5JpmR4POqIVptgv4yjbm/afj02M/ulibuDP58e3zFxKB0ctg3f5E2p2ccqQJEfQlWapSctb2nuVXi7+lh51DOl3gYf4fBNaNpJP+6kuqhNnR9U30QdVrGpC/2P511MPMM3eZYqMk01ffz+EtzcjMnLw14eHcoX+wA9LP/Kujw2kZKbwUeI7YTD/oT7IvNOdt3zzr8fn5RXe3xS4TiWweedC/C5mPu8fhJj/UScrbMZrLP16ANfd7Ye+3xxPba7mvXY/1y3b/t1++PuhvbGwbWs2+P7nQs+fw+4xveAFr4vvgDnFXCTN5x/wuA8pQtwPtsFx/MelxfOe1xe63mPAufHXoTzqC/B+faXFPfPn36X8Xz1v8vo9b/f2W12+P3O14UmHJpwaMKhCTf6Fc6NfoNzo5/gHJpwaMKhCYcmHJpwaMKhCYcmHJpwaMKhCYcmHJpwaMKhCYcmHJpwaMKhCYcmHJpwaMKhCYcmHJpwaMKhCYcmHJpwaMKhCYcmHJpwaMKhCYcmHJpwaMKhCYcmHJpwaMKhCYcmHJpwaMKhCYcmHJpwaMKhCYcmHJpwaMKhCYcmHJpwaMKhCfc3xgk4+urIdocAAAAASUVORK5CYII=);
background-size: cover;
}
/* box5 */
.sign-in{
height: 50px;
width: 130px;


}
.uppertext{
margin-top: 10px;

width: 70px;
height: 14px;
font-size: 12px;    
}
.lowertext{
width: 112px;
height: 15px;
font-size: 14px;
}
/* box6 */
.return{
 height: 50px;
 width: 76px;
 
}
.uppertextA{
    width: 58px;
    height: 14px;
    font-size: 12px;
    margin-top: 10px;

}
.lowertextA{
    width: 58px;
    height: 15px;
    font-size: 14px;

}
/* box7 */
.cart{
height: 50px;
width: 83px;
display: flex;
align-items: center;
}
.cart-logo{
width: 37px;
height:25px ;
}
.cart-text{

    width: 28px;
    height: 15px;
    font-size: 14px;
}
/* 2nd-navbar */
.panel{

    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 50px;
    
}
.panel-ops{
    width: 700px;
    font-size: 14px;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-deals{

    font-size: 0.9rem;
    font-weight: 700;
}
/* home-page-image */

.homeimg{

background-image: url(hero_image.jpg);   
height: 400px; 
background-size: cover;
}
/* shoppingsection */


.shop-sec{

    display: flex;
    justify-content: space-evenly;
    background-color: #9c9c9c;
    padding-top: 10px;
    padding-bottom: 10px;
}
.box{

height: 340px;
width: 24%;
/* border: 1px solid white; */
padding: 20px 0px 15px ;
margin-top: 15px;
color: black;
background-color: white;
padding-bottom: 25px;
}
.box1img{
background-image: url(box1.jpg);
height: 250px;
background-size: contain;
margin-right: 15px;
margin-bottom: 20px;
margin-top: 10px;


}
.boxcon{
    
    
    margin-left: 1rem;
    margin-right: 1 rem;
}

.box2img{
    background-image: url(box2.jpg);
    height: 215px;
    background-size: cover;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 15px;
    
}

.box3img{
    
    height: 250px;
    
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 15px;
    
}
.box3imgab{

    height: 115px;
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.box3imga{
    background-image: url(box3a.jpg);
    height: 100px;
    width: 140px;
    background-size: cover;
}
.box3imgb{

    background-image: url(box3b.jpg);
    height: 100px;
    width:140px ;
    background-size: cover;
}
.box3imgcd{

    height: 115px;
    display: flex;
    justify-content: space-between;
}
.box3imgc{
  background-image: url(box3c.jpg);
  height: 100px;
  width: 140px;
  background-size: cover;
}
.box3imgd{
    background-image: url(box3d.jpg);
    height: 100px;
    width: 140px;
    background-size: cover;
}
.box3imgcon{

    height: 115px;
    color: black;
}

/* box4 */


.box4img{
    
    height: 250px;
    
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 15px;
    
}
.box4imgab{

    height: 115px;
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.box4imga{
    background-image: url(box4a.jpg);
    height: 100px;
    width: 140px;
    background-size: cover;
}
.box4imgb{

    background-image: url(box4b.jpg);
    height: 100px;
    width:140px ;
    background-size: cover;
}
.box4imgcd{

    height: 115px;
    display: flex;
    justify-content: space-between;
}
.box4imgc{
  background-image: url(box4c.jpg);
  height: 100px;
  width: 140px;
  background-size: cover;
}
.box4imgd{
    background-image: url(box4d.jpg);
    height: 100px;
    width: 140px;
    background-size: cover;
}
.box4imgcon{

    height: 115px;
    color: black;
}

/* box5 */
.box5img{
    background-image: url(box5.jpg);
    height: 240px;
    background-size: contain;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 15px;
    
    }
    .box6img{
        background-image: url(box6.jpg);
        height: 240px;
        background-size: cover;
        margin-right: 15px;
        margin-bottom: 20px;
        margin-top: 10px;
        margin-left: 15px;
        
        }
        /* box7 */
        .box7img{
    
            height: 250px;
            
            margin-right: 15px;
            margin-bottom: 10px;
            margin-top: 10px;
            margin-left: 15px;
            
        }
        .box7imgab{
        
            height: 115px;
            
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        
        }
        .box7imga{
            background-image: url(box7a.jpeg);
            height: 100px;
            width: 140px;
            background-size: cover;
        }
        .box7imgb{
        
            background-image: url(box7b.jpeg);
            height: 100px;
            width:140px ;
            background-size: cover;
        }
        .box7imgcd{
        
            height: 115px;
            display: flex;
            justify-content: space-between;
        }
        .box7imgc{
          background-image: url(box7c.jpg);
          height: 100px;
          width: 140px;
          background-size: cover;
        }
        .box7imgd{
            background-image: url(box7d.jpeg);
            height: 100px;
            width: 140px;
            background-size: cover;
        }
        .box7imgcon{
        
            height: 115px;
            color: black;
        }   
        /* box8 */
        .box8img{
            background-image: url(box8.jpg);
            height: 240px;
            background-size: cover;
            margin-right: 15px;
            margin-bottom: 20px;
            margin-top: 10px;
            margin-left: 15px;
            
     }
     .shop-sec2{
     margin-bottom: 15px;
     margin-left: 15px;
     margin-right: 15px;
     margin-top: 0px;
     height: 280px;
     width: 100%;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     background-color: white;
     }
     .shop-seccon{
        padding-top: 50px;
        height: 310px;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
     }
     .box9imga{
        background-image: url(box9a.jpg);
        height: 100px;
        width: 140px;
        background-size: cover;

     }
     .box9imgb{
        background-image: url(box9b.jpg);
        height: 100px;
        width: 140px;
        background-size: cover;
     }
     .box9imgc{
        background-image: url(box9c.jpg);
        height: 100px;
        width: 140px;
        background-size: cover;
        margin-right: 15px;
        
     }
     .box9imgd{
        background-image: url(box9d.jpg);
        height: 100px;
        width: 140px;
        background-size: cover;
     }
    
.box9imgab{
    
    height: 115px;
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.box9imgcd{
    
    height: 115px;
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.box10img{
    background-image: url(box10.jpg);
    height: 240px;
    background-size: cover;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 15px;
    

}
.box11img{
    background-image: url(box11.jpg);
    height: 240px;
    background-size: cover;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 15px;
    
    
}
.boximg12{
    background-image: url(box12.jpg);
    height: 200px;
    background-size: cover;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 15px;
    
    
}
.shop-sec3con{

    background-color: white;
    height: 250px;
    margin: 10px 10px 10px 10px;
    margin-right: 10px;
    padding-right: 10px;
    padding-top: 15px;

}
.shop-sec3{
    padding-top: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
    

}
.Add{
    margin-top: 20px;
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.shop-sec4con{

    background-color: white;
    height: 250px;
    margin: 10px 10px 10px 10px;
    margin-right: 10px;
    padding-right: 10px;
    padding-top: 15px;
     margin-bottom: 25px;
}
.shop-sec4{
    padding-top: 10px;
    margin-bottom: 35px;
    /* margin-left: 10px; */
    margin-right: 10px;
    margin-top: 0px;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
/* last-box */


.last-box{
    padding-left: 10px;
    padding-right: 20px;
    height: 425px;
    width: 100%;
    background-color: white;
    padding-top: 40px;
    margin-right: 10px;
    /* margin-left: 10px; */
    
}

.last-boxcon{

height: 400px;
width: 99%;
display: flex;
justify-content: space-evenly;
align-items: center;

}
.p{
color: #007185;
font-size: 14px;

}
.stars{
    width: 120px;
    height: 25px;
    display: flex;
    justify-content: space-around;
}
.rating{
    color: black;
    font-size: 14px;
    text-align: center;
    
}
.sup{
font-weight: 400;
font-size: 14px;
color: black;

}

.price{
color: black;
font-weight: 400;
font-size: 20px;

}
.line{
    text-decoration-line: line-through;
}
.get{

    color: black;
    font-weight: 300;
    font-size: 12px;
}
.last-boxcona{
height: 360px;
width: 160px;
}
#off{

    background-color: red;
    color: white;
    font-size: 20px
}

/* 1stfooter */
footer{

    width: 100%;
    height: 777px;
    background-color: #232f3e;
    color: white;
}
.footer1{
    background-color:#2f3d4e ;
    height: 49px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer2{

width: 100%;
height: 260px;
display: flex;
justify-content: space-around;
 padding-top: 15px;
 margin-bottom: 0px;
 padding-bottom: 3px;
 
}
.p2{
    color: #dddddd;
    font-size: 14px;
    padding-top: 25px;
    line-height: 22px;
}
.foothead{

    color: white;
    font-size: 16px;
}
.footer3{

    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.language{

    width: 120px;
    height: 34px;
    color: #004b91;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid white;
}
.gobal{
    height: 15px;
    width: 15px;

}
.eng{
    padding-top: 3px;
    height: 18px;
    width: 59px;
    font-size: 13px;
    color: #cccccc;
}
.logo2{

    height: 12px;
    width: 15px;
}
.footer4{

    width:980px;
    height: 20px;
    display: flex;
    
    justify-content: space-evenly;
}
.footer5{

    width: 210px;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
}
.footerbody{

width: 100%;
height: 20px;
display: flex;
justify-content: center;
padding-bottom: 10px;

}
.p3{
    color: #dddddd;
    font-size: 12px;
}

.footer6{

    background-color:#131a22 ;
    height: 210px;
    width: 100%;
    padding-top: 40px;
}
.foot6a{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.p5{
color: #999999;
font-size: 12px;
line-height: 18px;
}
.foot6b{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 65px;
    
}
  .footba{
    height: 15px;
    width: 100%;
    display: flex;
    justify-content: center; 

} 
.footbb{
    height: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 0px;
}